html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 1em "Arial", sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus { outline: 0 }

.app {
  position: relative;
  height: 100%;
}